.header {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.punk__logo {
  width: 200px;
}

.left__side ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__input {
  text-indent: 5px;
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
  font-size: 1rem;
}

.right__side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right__side ul {
  display: flex;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.right__side ul p {
  margin: 10px;
}

.login__button {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}

.right__side > button {
  display: none;
}

#hidden {
  display: flex;
}

.menu__icon {
  width: 40px;
  max-height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .login__button {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 650px) {
  .right__side > button {
    display: flex;
  }

  .right__side ul {
    display: none;
  }

  #hidden {
    position: absolute;
    right: 0;
    top: 100px;
    height: 230px;
    width: 100%;
    background-color: #3c3c3c;
    flex-direction: column;
    opacity: 0.9;
  }

  .title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 412px) {
  .punk__logo {
    width: 100px;
  }
}
